*{box-sizing: border-box;}

body {
    margin: 0;
}

.container {
    border: 2px solid black;
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
}

header {
    background: #2e323f;
    text-align: center;
}

.nav {
    width: 100%;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072A2D;
    color: white;
    transition: opacity 250ms ease;
    margin: 0 auto;
    position: absolute;
    left: 20%;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__item {
    margin-top: .75em;
}

.nav__link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
    opacity: .65;
}

.nav__list--primary {
    margin-bottom: 2em;
}

.nav__list--secondary {
    padding-bottom: 2em;
}

.nav__link--button {
    background-color: #fff;
    color: #072A2D;
    padding: .25em .75em;
    border-radius: 100px;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 


.logo {
    height: 30px;
}


.hero {
    /* width: 80%; */
    /* max-width: 700px; */

    /* margin: 0 auto; */
    padding: 3em;

    background-color: #3b4050;
}

.hero h1 {
    font-size: 50px;
    font-family: "Oswald" ,sans-serif;

    width: 80%;
    line-height: 1em;

    color: #fff;
}

.hero span {
    color: #a59678;
}

.hero__text p {
    font-family: "Montserrat",sans-serif;
    color: #fff;
    font-size: 24px;
}

.hero__text a {
    font-family: "Oswald",sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #a59678;
    color: #fff;
    padding: .2em .75em;
    border-radius: 100px;
    font-weight: 600;

}

.col {
    padding: 3em;
    background-color: #6f737f;
}

.col h2 {
    color: #a59678;
    text-align: center;
    font-family: "Oswald",sans-serif;
    font-size: 30px;
}

.col p {
    text-align: center;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
}

.third__page {
    display: flex;
    flex-direction: column;
    padding: 3em;
    background-color: #fff;
}

.third__page img {
    width: 100%;
}

.third__page h2 {
    font-family: "Oswald",sans-serif;
    font-size: 30px;
    color: #a59678;
    text-align: left;
}

.third__page p {
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    text-align: left;
}

.boxes {
    background-color: #fff;
}

.box{
    padding: 1em 3em;
    background-color: #3b4050;
    text-align: center;
    color: #fff;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    margin: 1em 0;
}

.box p {
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.footer {
    background-color: #3b4050;
}

.footer h1 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: "Oswald",sans-serif;
    padding: 3em;
}

.company  h3{
    font-size: 21px;
    font-family: "Oswald",sans-serif;
    color: #a59678;
}

.company p {
    color: #6f737f;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    text-align: left;
    padding: 0 3em;
}

.about h3 {
    color: #a59678;
}

.about ul li{
    list-style: none;
    text-align: left;
    color: #6f737f;
    padding: 0 1.5em;
}

.about ul li {
    line-height: 2em;
}

@media (min-width: 700px) {
    
    .container{
        max-width: 1000px;
        /* width: 100%; */
        margin: 0 auto;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero h1 {
        font-size: 90px;
        width: 60%;
    } 

    .nav-toggle {
        display: none;
    }

    header {
        height: 4em;
    }

    .nav {
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        height: auto;
        font-weight: 700;
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin: 1em 0 0 1.5em;
    }

    .nav__link--button {
        margin-right: 1em;
    }

    .row {
        display: flex;
        justify-content: space-between;
        
    }

    .logo {
        margin: .75em 0 0 1.5em;
    }

    .col {
        display: flex;
    }

    .col p {
        color: #2e323f;
    }

    .boxes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }

    .box h1{
        width: 100%;
        font-size: 22px;
    }

    .box p {
        font-size: 16px;
    }

    .company{
        width: 50%;
        text-align: center; 
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1000px) {
    
    .container {
        max-width: 1200px;
    }
}